<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Application Builder - Registration</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../com/sparksdev/flo/public/css/bootstrap.clinflo.css"/>

</head>

<body>

<div class="modal " id="loginModal" style="display:block;">
    <div class="modal-dialog login-modal">

        <div class="flip-container">

            <div class="flipper">
                <div class="front">
                    <div class="modal-content">
                        <div class="modal-header">

                            <h4 class="modal-title">Complete Registration</h4>
                        </div>
                        <div class="modal-body">


                            <form action="#" th:action="@{/completeRegistration}" th:object="${completeRegistration}"
                                  method="POST">

                                <div class="form-group">
                                    <label for="inputPassword1">Password</label>
                                    <input type="text" th:field="*{password1}" id="inputPassword1" class="form-control"
                                           required="" autofocus=""/>
                                </div>

                                <div class="form-group">
                                    <label for="inputPassword2">Confirm Password</label>
                                    <input type="text" id="inputPassword2" th:field="*{password2}" class="form-control"
                                           required="" autofocus=""/>
                                </div>

                                <input type="hidden" id="oneTimeKey" th:field="*{oneTimeKey}"/>

                                <button type="submit" class="btn btn-primary" value="Register">Set Password and Complete
                                    Registration
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
