<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../com/sparksdev/flo/public/css/bootstrap.clinflo.css"/>
</head>

<body>

<div class="modal " id="loginModal" style="display:block;">
    <div class="modal-dialog login-modal">

        <div class="flip-container">

            <div class="flipper">
                <div class="front">
                    <div class="modal-content">
                        <div class="modal-header">

                            <h4 class="modal-title">Registration Success</h4>
                        </div>
                        <div class="modal-body">

                            <p>Successfully registered, now you can login</p>
                            <a href="/login">Login</a>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>